@import "src/custom";

.about {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 1em 4em;
  @media screen and (max-width: 780px) {
    @include containerMin;
  }

  .greeting_text {
    h1 {
      font-family: $fontMed;
      font-size: 2.75em;
      letter-spacing: .05em;
      opacity: 0;
      color: $pink;
      margin-bottom: .5em;
      text-shadow: 0 0 $shadT rgba(248, 7, 89, .7);;

      span {
        display: inline-block;
        font-family: $fontMed;
        transform: rotateY(90deg);
      }
    }

    .text {
      overflow: hidden;
      opacity: 0;

      p {
        color: $lightGray;
        font-size: .9em;
        line-height: 1.5em;
        //margin-bottom: 1em;
      }
    }
  }

  .image {

  }
}