@import "src/custom";

.skills {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  //background-color: $backgSilver;
  background: linear-gradient(to left, $backgSilver 50.5%, $backgContent 0%);
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media screen and (max-width: 780px) {
    display: block;
    grid-template-columns: initial;
    background-color: $backgSilver;
  }

  .left_block {
    position: relative;
    background-color: $backgContent;
    box-sizing: border-box;
    @media screen and (max-width: 780px) {
      display: flex;
      align-items: center;
      height: 100vh;
    }

    .box {
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      align-items: center;
      height: 100vh;
      width: 100%;
      padding: 1em 3em;
      box-sizing: border-box;
      @media screen and (max-width: 780px) {
        position: initial;
        height: auto;
      }
    }

    .title {
      color: $lightGray;

      h1 {
        font-family: $fontMed;
        font-size: 2.25em;
        letter-spacing: .04em;
        color: $blue;
        margin-bottom: .65em;
        opacity: 0;

        span {
          display: inline-block;
          font-family: $fontMed;
          transform: rotateY(90deg);
        }
      }

      .text {
        overflow: hidden;

        p {
          color: $lightGray;
          font-size: .8em;
          letter-spacing: .02em;
          line-height: 1.65em;
        }
      }
    }
  }

  .right_block {
    width: 100%;
    box-sizing: border-box;

    @media screen and (max-width: 780px) {
      padding: 0;
      background-color: $backgSilver;
    }

    .fake_block {
      height: 100vh;
      width: 100%;
      background-color: $backgContent;
      @media screen and (max-width: 780px) {
        display: none;
      }
    }


    .list {
      padding: 4em 1em 1em 4em;
      box-sizing: border-box;

      //&:nth-child(2) ul li span {background-color: $purple}
      //&:nth-child(3) ul li span {background-color: $green}
      //&:nth-child(4) ul li span {background-color: $pink}

      .descript {
        margin-bottom: 1.25em;

        h3 {}

        p {margin-top: .5em}
      }

      ul {
        position: relative;

        li {
          position: relative;
          width: fit-content;
          font-size: .875em;
          padding: .35em 1.2em .35em .9em;
          margin-bottom: .5em;
          border: 1px solid rgba(0, 0, 0, 0.3);
          color: $backgContent;
          clear: both;

          &:hover {
            span {height: 100% !important}
          }


          span {
            content: "";
            background-color: rgba(0, 0, 0, 0.17);
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            height: 100%;
            transition: height .3s;
            //opacity: .3;
          }

          &[data-load='0.1'] span {width: 10%}

          &[data-load='0.2'] span {width: 20%}

          &[data-load='0.3'] span {width: 30%}

          &[data-load='0.4'] span {width: 40%}

          &[data-load='0.5'] span {width: 50%}

          &[data-load='0.6'] span {width: 60%}

          &[data-load='0.7'] span {width: 70%}

          &[data-load='0.8'] span {width: 80%}

          &[data-load='0.9'] span {width: 90%}

          &[data-load='0.95'] span {width: 95%}

          &[data-load='1'] span {width: 100%}
        }
      }
    }
  }
}