@import "src/custom";

.works {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  .dots_list {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 5%;
    padding: 0;
    z-index: 1;

    li {
      height: 2px;
      width: 70%;
      margin: 10% 0;
      background-color: $backgSilver;
      cursor: pointer;
      transition: width .3s ease-in;
    }
  }

  .work {
    width: 100%;
    height: 100%;
    //transition: transform 1500ms ease;
  }

  .work_visible {
    opacity: 1;
    visibility: visible;
  }

  .work_hidden {
    transition: height .5s .3s;
    height: 0;
    overflow: hidden;
  }
}
