@import "src/custom";

.works {
  width: 100%;
  height: 100%;

  .projects {
    width: 100%;
    height: 100%;
  }

  .projects_visible {
    opacity: 1;
    visibility: visible;
  }

  .projects_hidden {
    transition-delay: .6s;
    transition: height .5s;
    height: 0;
  }

  .project_details {
    //display: none;
  }
}
