@import "src/custom";

.contact {
  position: relative;
  width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1.3fr 1fr;
  @media screen and (max-width: 780px) {
    display: block;
    grid-template-columns: initial;
  }

  .left_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1em 3em;

    .title {
      color: $lightGray;

      h1 {
        font-family: $fontMed;
        font-size: 2.25em;
        letter-spacing: .04em;
        color: $green;
        margin-bottom: .65em;
        opacity: 0;
        text-shadow: 0 0 $shadT $green;

        span {
          display: inline-block;
          font-family: $fontMed;
          transform: rotateY(90deg);
        }
      }

      .text {
        overflow: hidden;
        opacity: 0;

        p {
          color: $lightGray;
          font-size: .8em;
          letter-spacing: .02em;
          line-height: 1.65em;
        }
      }
    }
  }

  .right_block {
    position: relative;

  }
}