@import "src/custom";

.home_page {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
  @media screen and (max-width: 780px) {
    display: block;
    grid-template-columns: initial;
  }

  .left {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding: 5em 2em 5em 5em;
    box-sizing: border-box;
    z-index: 9;

    .text_zone {
      .greeting_text {
        color: $lightGray;
        font-size: 3.3em;
        @media screen and (max-width: 780px) {
          font-size: 4.5em;
        }

        span {
          display: inline-block;
          font-family: $fontBold;
          line-height: 1.15em;
          letter-spacing: 0.07em;
        }
      }
    }

    .path_to_chat {
      position: absolute;
      bottom: 4em;
      left: 5em;

      @media screen and (max-width: 780px) {
        bottom: 95px;
      }
    }
  }


  .right {
    position: relative;
    max-height: 100vh;
    width: 100%;
    z-index: 7;
    @media screen and (max-width: 780px) {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }

  .svg_background_left {
    position: absolute;
    top: 0;
    left: -2.5%;
    height: 100%;
    z-index: 1;
    @media screen and (max-width: 780px) {
      opacity: 0 !important;
      visibility: hidden;
    }

    g {
      opacity: 0;
    }


    path {
      opacity: 0.4;
    }
  }
  .svg_background_right {
    position: absolute;
    top: 15%;
    bottom: 0;
    right: 0;
    height: 85%;
    z-index: 1;
    transition-property: right;
    transition-duration: .8s;

    g {
      opacity: 0;
    }


    path {
      opacity: 0.4;
    }
  }
}