@import "src/custom";

body {
  width: 100vw;
  max-width: 100%;
  min-width: 100%;
  height: 100vh;
  max-height: 100%;
  min-height: 100%;
  overflow: hidden;
  background: $backgMenu;
}

#root {
  position: relative;
  overflow: hidden;
}

.resize {
  $size: 3.4px;
  position: absolute;
  left: -$size/4;
  top: 50%;
  height: 25%;
  width: $size;
  background-color: $lightGray;
  border-radius: 5px;
  cursor: ew-resize;
  opacity: .15;
  z-index: 90;

  @media screen and (max-width: 780px) {
    display: none;
  }
}

.presentation {
  position: absolute;
  left: 0;
  top: 50%;
  height: 98vh;
  width: 0;
  opacity: 0;
  background-color: rgba(255, 255, 255, .1);
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(-50%);
  z-index: 90;
}

.content {
  position: relative;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  height: 100vh;
  background: $backgContent;
  border-radius: $contentRadius 0 0 $contentRadius;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);
  box-sizing: border-box;
  z-index: 10;
  overflow: hidden;
  transition: margin-left .8s,
  padding-right .8s,
  width .8s,
  transform .8s,
  border-radius .8s;

  section {
    width: 100%;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: background-color 1.5s;
    box-sizing: border-box;

    &::-webkit-scrollbar {width: 9px}

    &::-webkit-scrollbar-track {border-radius: 10px;}

    &::-webkit-scrollbar-thumb {
      border-radius: 10px;
      -webkit-box-shadow: inset 0 0 6px rgba(142, 142, 142, .3);
      border: 1px solid rgba(142, 142, 142, .6);
    }
  }

  @media screen and (max-width: 780px) {
    padding-bottom: 80px;
    box-shadow: none;
  }

  .switching {
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: #FF4B4B;

    #grid {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: 100%;
    }

    #grid div {
      width: 3vw;
      height: 3vw;
      //border: 1px solid #FFF;
      background-color: #FFF;
    }
  }
}