//Font
$fontReg: 'Gilroy-Regular';
$fontMed: 'Gilroy-Medium';
$fontSemB: 'Gilroy-SemiBold';
$fontBold: 'Gilroy-Bold';

//Color
  //color
$darkGray: #8E8E8E;
$lightGray: #F0F0F0;
  //background
$backgContent :#0A0D1F;
$backgMenu :#030410;
  //link
$grin: #36BA7C;
$yellow: #F7FF00;
$pink: #F80759;
$blue: #175EA6;
$purple: #8E44AD;

//Menu
$navWidth: 62px;
$contentRadius: 40px;
