@import "src/custom";

.wrapper {
  position: relative;
  width: 100%;

  .work {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    box-sizing: border-box;

    .wrap {
      position: relative;
      width: 60%;
      cursor: pointer;
      transition: opacity .6s, transform .6s;
      box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.7);

      &:hover {
        @media screen and (min-width: 780px) {
          .more {
            visibility: visible;
            opacity: 1;
          }

          .image {
            img {
              transform: scale(1.15);
            }
          }
        }
      }

      .more {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        opacity: 0;
        visibility: hidden;
        font-size: 1.1em;
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 0 .07em #000;
        letter-spacing: .1em;
        font-family: $fontMed;
        //color: $backgContent;
        transition: opacity 1s, visibility 1s;
        z-index: 3;
      }

      .title_block {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-40%, -50%);
        text-align: left;
        color: $lightGray;
        text-shadow: 1px 1px 2px rgba(0, 0, 0, .85);
        z-index: 2;

        .title {
          overflow: hidden;

          h1 {
            font-size: 3em;
            font-family: $fontBold;
            transform: translateY(200%);
            transition: transform 1300ms .3s;
          }
        }

        .description {
          overflow: hidden;

          p {
            font-family: $fontMed;
            transform: translateY(200%);
            transition: transform 1400ms .25s;
          }
        }
      }

      .active_block {
        .title {
          h1 {
            font-size: 3em;
            font-family: $fontBold;
            transform: translateY(0%);
          }
        }

        .description {
          p {
            font-family: $fontMed;
            transform: translateY(0%);
          }
        }
      }

      .image {
        display: flex;
        width: 100%;
        border-radius: 4px;
        overflow: hidden;
        z-index: 1;

        img {
          width: 100%;
          transform: scale(1.00001);
          transition: transform 7s ease-in-out;
        }
      }

      .myWork {
        position: absolute;
        bottom: 0;
        left: 0;
        transform: translateY(120%);

        p {
          color: $lightGray;
          font-size: .6em;
        }
      }
    }

    .open {
      opacity: 1;
    }

    .close {
      opacity: 0;
      transform: scale(1.3);
    }
  }
}